.page, .post, .layout-default {
  background-image: url('/assets/M._haemofelis_IP2011.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
