.custom-content-bg .page-content {
  background-image: url('/assets/IMG_1995.jpeg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed !important;
