---
---

.content {
  position: relative;
  background: transparent !important;
}

.content::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('/Luellen/assets/IMG_1995.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.page,
.page__content,
.content__inner-wrap,
main {
  background: transparent !important;
}
